<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infoanalyse.dao.mapper.CrawlTaskDOMapper">
  <resultMap id="BaseResultMap" type="com.infoanalyse.dao.model.CrawlTaskDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="task_type" jdbcType="VARCHAR" property="taskType" />
    <result column="target_id" jdbcType="VARCHAR" property="targetId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="result_count" jdbcType="INTEGER" property="resultCount" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="finished_time" jdbcType="TIMESTAMP" property="finishedTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.infoanalyse.dao.model.CrawlTaskDO">
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, source, task_type, target_id, status, result_count, created_time, finished_time
  </sql>
  <sql id="Blob_Column_List">
    message
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.infoanalyse.dao.model.CrawlTaskDOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from crawl_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.infoanalyse.dao.model.CrawlTaskDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crawl_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from crawl_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from crawl_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.infoanalyse.dao.model.CrawlTaskDOExample">
    delete from crawl_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.infoanalyse.dao.model.CrawlTaskDO" useGeneratedKeys="true">
    insert into crawl_task (source, task_type, target_id, 
      status, result_count, created_time, 
      finished_time, message)
    values (#{source,jdbcType=VARCHAR}, #{taskType,jdbcType=VARCHAR}, #{targetId,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{resultCount,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{finishedTime,jdbcType=TIMESTAMP}, #{message,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.infoanalyse.dao.model.CrawlTaskDO" useGeneratedKeys="true">
    insert into crawl_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="source != null">
        source,
      </if>
      <if test="taskType != null">
        task_type,
      </if>
      <if test="targetId != null">
        target_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="resultCount != null">
        result_count,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="finishedTime != null">
        finished_time,
      </if>
      <if test="message != null">
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="resultCount != null">
        #{resultCount,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishedTime != null">
        #{finishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.infoanalyse.dao.model.CrawlTaskDOExample" resultType="java.lang.Long">
    select count(*) from crawl_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update crawl_task
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.source != null">
        source = #{row.source,jdbcType=VARCHAR},
      </if>
      <if test="row.taskType != null">
        task_type = #{row.taskType,jdbcType=VARCHAR},
      </if>
      <if test="row.targetId != null">
        target_id = #{row.targetId,jdbcType=VARCHAR},
      </if>
      <if test="row.status != null">
        status = #{row.status,jdbcType=VARCHAR},
      </if>
      <if test="row.resultCount != null">
        result_count = #{row.resultCount,jdbcType=INTEGER},
      </if>
      <if test="row.createdTime != null">
        created_time = #{row.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.finishedTime != null">
        finished_time = #{row.finishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.message != null">
        message = #{row.message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update crawl_task
    set id = #{row.id,jdbcType=BIGINT},
      source = #{row.source,jdbcType=VARCHAR},
      task_type = #{row.taskType,jdbcType=VARCHAR},
      target_id = #{row.targetId,jdbcType=VARCHAR},
      status = #{row.status,jdbcType=VARCHAR},
      result_count = #{row.resultCount,jdbcType=INTEGER},
      created_time = #{row.createdTime,jdbcType=TIMESTAMP},
      finished_time = #{row.finishedTime,jdbcType=TIMESTAMP},
      message = #{row.message,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update crawl_task
    set id = #{row.id,jdbcType=BIGINT},
      source = #{row.source,jdbcType=VARCHAR},
      task_type = #{row.taskType,jdbcType=VARCHAR},
      target_id = #{row.targetId,jdbcType=VARCHAR},
      status = #{row.status,jdbcType=VARCHAR},
      result_count = #{row.resultCount,jdbcType=INTEGER},
      created_time = #{row.createdTime,jdbcType=TIMESTAMP},
      finished_time = #{row.finishedTime,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.infoanalyse.dao.model.CrawlTaskDO">
    update crawl_task
    <set>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        task_type = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="targetId != null">
        target_id = #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="resultCount != null">
        result_count = #{resultCount,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishedTime != null">
        finished_time = #{finishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.infoanalyse.dao.model.CrawlTaskDO">
    update crawl_task
    set source = #{source,jdbcType=VARCHAR},
      task_type = #{taskType,jdbcType=VARCHAR},
      target_id = #{targetId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      result_count = #{resultCount,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      finished_time = #{finishedTime,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.infoanalyse.dao.model.CrawlTaskDO">
    update crawl_task
    set source = #{source,jdbcType=VARCHAR},
      task_type = #{taskType,jdbcType=VARCHAR},
      target_id = #{targetId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      result_count = #{resultCount,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      finished_time = #{finishedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>