<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infoanalyse.dao.mapper.ZhihuCommentDOMapper">
  <resultMap id="BaseResultMap" type="com.infoanalyse.dao.model.ZhihuCommentDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="target_id" jdbcType="BIGINT" property="targetId" />
    <result column="target_type" jdbcType="TINYINT" property="targetType" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="author_id" jdbcType="VARCHAR" property="authorId" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="parent_comment_id" jdbcType="BIGINT" property="parentCommentId" />
    <result column="reply_comment_id" jdbcType="BIGINT" property="replyCommentId" />
    <result column="reply_to_author" jdbcType="VARCHAR" property="replyToAuthor" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="crawl_time" jdbcType="TIMESTAMP" property="crawlTime" />
    <result column="invest_related" jdbcType="TINYINT" property="investRelated" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.infoanalyse.dao.model.ZhihuCommentDO">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, comment_id, target_id, target_type, author_name, author_id, like_count, parent_comment_id, 
    reply_comment_id, reply_to_author, created_time, crawl_time, invest_related
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.infoanalyse.dao.model.ZhihuCommentDOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zhihu_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.infoanalyse.dao.model.ZhihuCommentDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zhihu_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zhihu_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zhihu_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.infoanalyse.dao.model.ZhihuCommentDOExample">
    delete from zhihu_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.infoanalyse.dao.model.ZhihuCommentDO" useGeneratedKeys="true">
    insert into zhihu_comment (comment_id, target_id, target_type, 
      author_name, author_id, like_count, 
      parent_comment_id, reply_comment_id, reply_to_author, 
      created_time, crawl_time, invest_related, content
      )
    values (#{commentId,jdbcType=BIGINT}, #{targetId,jdbcType=BIGINT}, #{targetType,jdbcType=TINYINT}, 
      #{authorName,jdbcType=VARCHAR}, #{authorId,jdbcType=VARCHAR}, #{likeCount,jdbcType=INTEGER}, 
      #{parentCommentId,jdbcType=BIGINT}, #{replyCommentId,jdbcType=BIGINT}, #{replyToAuthor,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{crawlTime,jdbcType=TIMESTAMP}, #{investRelated,jdbcType=TINYINT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.infoanalyse.dao.model.ZhihuCommentDO" useGeneratedKeys="true">
    insert into zhihu_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="targetId != null">
        target_id,
      </if>
      <if test="targetType != null">
        target_type,
      </if>
      <if test="authorName != null">
        author_name,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="likeCount != null">
        like_count,
      </if>
      <if test="parentCommentId != null">
        parent_comment_id,
      </if>
      <if test="replyCommentId != null">
        reply_comment_id,
      </if>
      <if test="replyToAuthor != null">
        reply_to_author,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="crawlTime != null">
        crawl_time,
      </if>
      <if test="investRelated != null">
        invest_related,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=BIGINT},
      </if>
      <if test="targetType != null">
        #{targetType,jdbcType=TINYINT},
      </if>
      <if test="authorName != null">
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="parentCommentId != null">
        #{parentCommentId,jdbcType=BIGINT},
      </if>
      <if test="replyCommentId != null">
        #{replyCommentId,jdbcType=BIGINT},
      </if>
      <if test="replyToAuthor != null">
        #{replyToAuthor,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crawlTime != null">
        #{crawlTime,jdbcType=TIMESTAMP},
      </if>
      <if test="investRelated != null">
        #{investRelated,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.infoanalyse.dao.model.ZhihuCommentDOExample" resultType="java.lang.Long">
    select count(*) from zhihu_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zhihu_comment
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.commentId != null">
        comment_id = #{row.commentId,jdbcType=BIGINT},
      </if>
      <if test="row.targetId != null">
        target_id = #{row.targetId,jdbcType=BIGINT},
      </if>
      <if test="row.targetType != null">
        target_type = #{row.targetType,jdbcType=TINYINT},
      </if>
      <if test="row.authorName != null">
        author_name = #{row.authorName,jdbcType=VARCHAR},
      </if>
      <if test="row.authorId != null">
        author_id = #{row.authorId,jdbcType=VARCHAR},
      </if>
      <if test="row.likeCount != null">
        like_count = #{row.likeCount,jdbcType=INTEGER},
      </if>
      <if test="row.parentCommentId != null">
        parent_comment_id = #{row.parentCommentId,jdbcType=BIGINT},
      </if>
      <if test="row.replyCommentId != null">
        reply_comment_id = #{row.replyCommentId,jdbcType=BIGINT},
      </if>
      <if test="row.replyToAuthor != null">
        reply_to_author = #{row.replyToAuthor,jdbcType=VARCHAR},
      </if>
      <if test="row.createdTime != null">
        created_time = #{row.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.crawlTime != null">
        crawl_time = #{row.crawlTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.investRelated != null">
        invest_related = #{row.investRelated,jdbcType=TINYINT},
      </if>
      <if test="row.content != null">
        content = #{row.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update zhihu_comment
    set id = #{row.id,jdbcType=BIGINT},
      comment_id = #{row.commentId,jdbcType=BIGINT},
      target_id = #{row.targetId,jdbcType=BIGINT},
      target_type = #{row.targetType,jdbcType=TINYINT},
      author_name = #{row.authorName,jdbcType=VARCHAR},
      author_id = #{row.authorId,jdbcType=VARCHAR},
      like_count = #{row.likeCount,jdbcType=INTEGER},
      parent_comment_id = #{row.parentCommentId,jdbcType=BIGINT},
      reply_comment_id = #{row.replyCommentId,jdbcType=BIGINT},
      reply_to_author = #{row.replyToAuthor,jdbcType=VARCHAR},
      created_time = #{row.createdTime,jdbcType=TIMESTAMP},
      crawl_time = #{row.crawlTime,jdbcType=TIMESTAMP},
      invest_related = #{row.investRelated,jdbcType=TINYINT},
      content = #{row.content,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zhihu_comment
    set id = #{row.id,jdbcType=BIGINT},
      comment_id = #{row.commentId,jdbcType=BIGINT},
      target_id = #{row.targetId,jdbcType=BIGINT},
      target_type = #{row.targetType,jdbcType=TINYINT},
      author_name = #{row.authorName,jdbcType=VARCHAR},
      author_id = #{row.authorId,jdbcType=VARCHAR},
      like_count = #{row.likeCount,jdbcType=INTEGER},
      parent_comment_id = #{row.parentCommentId,jdbcType=BIGINT},
      reply_comment_id = #{row.replyCommentId,jdbcType=BIGINT},
      reply_to_author = #{row.replyToAuthor,jdbcType=VARCHAR},
      created_time = #{row.createdTime,jdbcType=TIMESTAMP},
      crawl_time = #{row.crawlTime,jdbcType=TIMESTAMP},
      invest_related = #{row.investRelated,jdbcType=TINYINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.infoanalyse.dao.model.ZhihuCommentDO">
    update zhihu_comment
    <set>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="targetId != null">
        target_id = #{targetId,jdbcType=BIGINT},
      </if>
      <if test="targetType != null">
        target_type = #{targetType,jdbcType=TINYINT},
      </if>
      <if test="authorName != null">
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null">
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="parentCommentId != null">
        parent_comment_id = #{parentCommentId,jdbcType=BIGINT},
      </if>
      <if test="replyCommentId != null">
        reply_comment_id = #{replyCommentId,jdbcType=BIGINT},
      </if>
      <if test="replyToAuthor != null">
        reply_to_author = #{replyToAuthor,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crawlTime != null">
        crawl_time = #{crawlTime,jdbcType=TIMESTAMP},
      </if>
      <if test="investRelated != null">
        invest_related = #{investRelated,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.infoanalyse.dao.model.ZhihuCommentDO">
    update zhihu_comment
    set comment_id = #{commentId,jdbcType=BIGINT},
      target_id = #{targetId,jdbcType=BIGINT},
      target_type = #{targetType,jdbcType=TINYINT},
      author_name = #{authorName,jdbcType=VARCHAR},
      author_id = #{authorId,jdbcType=VARCHAR},
      like_count = #{likeCount,jdbcType=INTEGER},
      parent_comment_id = #{parentCommentId,jdbcType=BIGINT},
      reply_comment_id = #{replyCommentId,jdbcType=BIGINT},
      reply_to_author = #{replyToAuthor,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      crawl_time = #{crawlTime,jdbcType=TIMESTAMP},
      invest_related = #{investRelated,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.infoanalyse.dao.model.ZhihuCommentDO">
    update zhihu_comment
    set comment_id = #{commentId,jdbcType=BIGINT},
      target_id = #{targetId,jdbcType=BIGINT},
      target_type = #{targetType,jdbcType=TINYINT},
      author_name = #{authorName,jdbcType=VARCHAR},
      author_id = #{authorId,jdbcType=VARCHAR},
      like_count = #{likeCount,jdbcType=INTEGER},
      parent_comment_id = #{parentCommentId,jdbcType=BIGINT},
      reply_comment_id = #{replyCommentId,jdbcType=BIGINT},
      reply_to_author = #{replyToAuthor,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      crawl_time = #{crawlTime,jdbcType=TIMESTAMP},
      invest_related = #{investRelated,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>